[Unit]
Description=AIHomework-Prod
After=network.target

[Service]
User=hng
WorkingDirectory={{ app_dir }}
ExecStart=/usr/bin/yarn start
Restart=on-failure
RestartSec=20s
StandardOutput=file:{{ log_dir }}/out.log
StandardError=file:{{ log_dir }}/error.log

[Install]
WantedBy=multi-user.target